      <div class="row">
        <div class="form-group col-sm-2">
      <%= p_form.label :phone_type %>
      <%= p_form.select :phone_type, options_for_phone_types,{},{class: "form-control"} %>
        </div>
        <div class="form-group col-sm-8">

      <%= p_form.label :phone_number %>
      <%= p_form.text_field :phone_number, class: "form-control" %>
        </div>
        <div class="form-group col-sm-2">
          <%= p_form.label "Phone" %>
          <%= p_form.remove_nested_fields_link "Remove", class: "btn btn-outline-danger btn-md" %> 
        </div>

      </div>
