<div id="accordion"> 
  <div class="card mb-2">

    <div class="card-header p-0" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="fales" aria-controls="collapseOne">
          Advanced Search
        </button>
      </h5>
    </div>


    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

    <div class="card-body p-2">
      <%= search_form_for @search do |f| %>
        <div class="form-row">
          <div class="form-group col-md">
            <%= f.label :first_name_cont_or_middle_name_cont_or_last_name_cont, "Full Name" %>
            <%= f.text_field :first_name_or_middle_name_or_last_name_cont, class: "form-control" %>
          </div>
          <div class="form-group col-md">
            <%= f.label :id_eq, "Id" %>
            <%= f.text_field :id_eq, class: "form-control" %>
          </div>
          <div class="form-group col-md">
            <%= f.label :user_id_eq, "User" %>
            <%= f.collection_select :user_id_eq, User.all, :id, :alias, {include_blank: true, prompt: "Choose.."} ,class: "form-control" %>
          </div>
        </div>
      <%= f.submit "Search", class: "btn btn-outline-primary btn-sm"%>
    <% end %>
    </div>


    <div class="card-footer p-2 bg-light">
      <%= sort_link @search, :first_name, "Sort by Name", class: "nav-link"%>
      <%= sort_link @search, :id, "Sort by id",class: "nav-link" %>
    </div>

  </div>
  
  </div>
</div>
