<h1>People</h1>
<div class="table-responsive">
<table class="table table-hover table-striped w-auto">
  <thead>
    <tr>
      <th scope="col">Id </th>
      <th scope="col">Full Name</th>
      <th scope="col">Company</th>
      <th scope="col">Created by</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.order(:id).reverse.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= link_to person.full_name, person %></td>
        <td><% person.companies.each do |company| %>
            <div> <%= link_to company.name.capitalize,company %>
          <% end %></div>
        </td>
        <td><%= person.user.username %></td>
            <td><%= link_to 'Edit', edit_person_path(person), class: 'btn btn-outline-primary btn-sm' if policy(person).update? %></td>
            <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' if policy(person).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'New Person', new_person_path, class: "btn btn-primary mt-2" %>
