<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <% if @person.companies.present? %>
    <strong> <%=  "Company".pluralize(@person.companies.count)%>:</strong>
    <% @person.companies.each do |company| %>
    <ul class="row">
      <li class="list-inline-item" > <%= link_to  company.name, company %></li> </ul>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @person.user.username %>
</p>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
