<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <% if @person.companies.present? %>
    <strong> <%=  "Company".pluralize(@person.companies.count)%>:</strong>
    <% @person.companies.each do |company| %>
    <ul class="row">
      <li class="list-inline-item" > <%= link_to  company.name, company %></li> </ul>
    <% end %>
  <% end %>
</p>

<p>
  <% if @person.emails.present? %>
    <strong> <%= "Email".pluralize(@person.emails.count)%>:</strong>
    <% @person.emails.each do |email| %>
      <ul class="row">
        <li class="list-inline-item">
          <%= mail_to email.email %>
        </li>
      </ul>
    <% end %>
  <% end %>

</p>
<p>
  <% if @person.phones.present? %>
    <strong> <%= "Phone".pluralize(@person.phones.count)%>:</strong>
    <% @person.phones.each do |phone| %>
      <ul class="row">
        <li class="list-inline-item">
          <%= phone.phone_type %> :
          <%= number_to_phone(phone.phone_number, area_code: true, delimiter: " ") %>
        </li>
      </ul>
    <% end %>
  <% end %>

</p>

<p>
  <strong>Created by:</strong>
  <%= @person.user.username %>
</p>
<%= link_to fa_stacked_icon("edit", type: "regular", text: "edit"), edit_person_path(@person), class: "px-2" if policy(@person).update? %> 
<%= link_to fa_stacked_icon('angle-left', text: "back" ), people_path %>
