<h1 class="text-center">Users (<%= @users.count %>)</h1>
<div class="table-responsive-md">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Alias</th>
        <th scope="col">Status</th>
        <th scope="col">Approve</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-center" scope="row"><%= link_to user.id, user_path(user) %></td>
        <td><%= user.email %> </td>
        <td><%= user.alias %> </td>
        <td><% if user.admin %><p>Admin</p><% else %><p>User</p><% end %></td>
        <td><code><%= user.approved %></code> </td>
        <td>
        <%=  link_to_if(policy(user).update?, fa_stacked_icon("user-shield", type: :solid), edit_user_path(user)) unless policy(user).update?%>
        <%=  link_to fa_stacked_icon("unlock-alt", type: :solid), edit_user_path(user)if policy(user).update?%>
        <%= link_to fa_stacked_icon("trash-alt", type: :regular),user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' if policy(user).destroy? %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
