<h1 class="text-center">Users <%= @users.count %></h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id-Name</th>
        <th scope="col">Email</th>
        <th scope="col">Alias</th>
        <th scope="col">Status</th>
        <th scope="col">Approved</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %> <span class="float-right"> <%= user.first_name + " " + user.last_name %> </span> </td>
        <td><%= user.email %> </td>
        <td><%= user.alias %> </td>
        <td><% if user.admin %><p>Admin</p><% else %><p>User</p><% end %></td>
        <td><code><%= user.approved %></code> </td>
        <td>
        <%=  fa_stacked_icon("user-shield", type: :solid) if user.admin%>
        <%=  fa_stacked_icon("user-lock", type: :solid) if !user.admin and user != current_user %>
        <%= link_to fa_stacked_icon( "edit", type: :regular), edit_user_path(user) if user == current_user or current_user.admin %>
        <%= link_to fa_stacked_icon("trash-alt",text: "Delete", type: :regular),user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' if current_user.admin %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
