<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label "upload a logo" %><br>
    <%= form.file_field :logo, class: "form-control" %><hr>
    <%= form.label "Upload Remote logo URL" %>
    <%= form.text_field :remote_logo_url, size: 80, class: "form-control", placeholder: "Enter image url" %>
    <hr>
    <p>
      <div class="form-check form-check-inline">
        
        <%= form.label "Remove Logo", class: "form-check-input" if company.logo? %>
        <%= form.check_box :remove_logo, class: "form-check-input" if company.logo? %>
        <%= image_tag(company.logo_url(:thumb)) if company.logo? %>
      </div>
    </p>

  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control" %>
  </div>
  <div class="">
    <%= form.label :people %> <hr>
    <%= form.nested_fields_for :people do |people_form|  %>
      <%= people_form.text_field :first_name, placeholder: 'first name'%>
      <%= people_form.text_field :middle_name, placeholder: 'middle name' %>
      <%= people_form.text_field :last_name, placeholder: 'last name'%>
      <%= people_form.collection_select :company_id, Company.all, :id, :name, include_blank: true %>
        <% unless people_form.object.persisted? %>
          <%= people_form.hidden_field :user_id, value: current_user[:id] %>
        <% end %>
      <br> <br>
    <% end %>
    <%= form.add_nested_fields_link :people do %>
      <span>New Person</span>
    <%end%>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
