<%= form_with(model: company, local: true) do |form| %>

  <% flash.now[:error] = company.errors.full_messages.to_sentence if company.errors.any? %>


<div class="container">
  <div class="form-group">
    <div class="custom-file">
      <%= form.label "upload a logo" %>
      <%= form.file_field :logo, class: "form-control" %>
    </div>
  </div>    
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <%= form.label "Upload Remote logo http://", class: "input-group-text", id: "basic-addon3" %>
    </div>
      <%= form.text_field :remote_logo_url, class: "form-control",id:"basic-url" %>
  </div>

    <hr>
    
  <div class="form-check-inline">
    <%= image_tag(company.logo_url(:thumb)) if company.logo? %>
    <%= form.label "Remove Logo", class: "form-check-label mx-2", for:"remove_logo" if company.logo? %>
    <%= form.check_box :remove_logo, class: "form-check-input", id:"remove_logo" if company.logo? %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>

    <%= form.label :invoice_title %>
    <%= form.text_area :invoice_title, class: "form-control" %>

    <%= form.label :email %>
    <%= form.text_field :email, :class => "form-control" %>

    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control" %>

    <%= form.label :note %>
    <%= form.text_area :note, class: "form-control" %>
  </div>

  <div class="jumbotron address-group"> 
    <h4> Company Address</h4>
    <%= form.label :address_title %>
    <%= form.select :address_title, ["Factory", "Office", "Showroom", "Headquarters", "Branch", "Other" ] ,{prompt:"Choose..", include_blank: true},  {class: "form-control"} %>

      
    <%= form.label :country_id %><br />
    <%= form.collection_select :country_id, Country.order(:name), :id, :name,{prompt: "Choose..", include_blank: true }, {class:"form-control", data: {dynamic_selectable_url: dynamic_select_states_path(':country_id'), dynamic_selectable_target: '#company_state_id' } } %>  
    
    <div class="form-row">
      <div class="form-group col-md-5">
        <%= form.label :state_id, "State or City" %> <br />
        <%= form.collection_select :state_id, @company.country.try(:states) || [], :id, :name, {prompt: "Choose.."}, {class: "form-control"} %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :town %>
        <%= form.text_field :town, class: "form-control" %>
      </div>
      <div class="form-group col-md-3">
        <%= form.label :zip %>
        <%= form.text_field :zip, class: "form-control" %>
      </div>

    </div>

    <%= form.label :address_line %>
    <%= form.text_area :address_line, class: "form-control" %>
 </div>





 <hr>
 <div class="form-group">
 <% if @company.connected.present? %>
  <%= form.nested_fields_for :connected do |cpf| %>
    <% person = cpf.object.person %>
    <div class="form-row">
      <div class="col-md my-1">
         <%= cpf.collection_select :person_id, policy_scope(Person.order(:first_name)), :id, :full_name, {prompt: "Choose..",include_blank: true },{class: "form-control"}  %>
      </div>
      <div class="col-md my-1">
        <%= cpf.select :position,options_for_positions ,{prompt: "Position..", include_blank: true},{class: "form-control"} %>
      
      </div>
      <div class="col-md my-1">
        <%= cpf.remove_nested_fields_link "Remove", class:"btn btn-outline-danger btn-md" %>
      </div>
    </div>

   <% end %>
 <% end %>
      <%= form.add_nested_fields_link :connected, "Add Another Connection", class: "btn btn-outline-primary btn-sm mt-2"%> <br>
 </div>
 <hr>

    <div class="form-group">
      <%= form.label "Add new people", class:"form-group" %>
      <%= form.nested_fields_for :people, Person.new do |p_form|  %>
        <div class="form-row">      
        <%= p_form.hidden_field :user_id, value:current_user.id %>
        <div class="col-md my-1"><%= p_form.text_field :first_name, placeholder: "first name", class: "form-control" %> </div>
        <div class="col-md my-1"><%= p_form.text_field :middle_name, placeholder: "middle name", class: "form-control" %> </div>
        <div class="col-md my-1"><%= p_form.text_field :last_name, placeholder: "last name", class: "form-control" %> </div>
      </div>
        <%= p_form.nested_fields_for :emails, Email.new do |e_form|  %>
          <%= render partial: "people/emails", locals: {e_form: e_form} %>
        <% end %>
        
        <%= p_form.nested_fields_for :phones, Phone.new do |phn_form| %>
      <div class="row">
        <div class="form-group col-sm-2">
        <%= phn_form.label :phone_type %>
        <%= phn_form.select :phone_type, options_for_phone_types,{},{class: "form-control"} %>
        </div>
        <div class="form-group col-sm-8">

        <%= phn_form.label :phone_number %>
        <%= phn_form.text_field :phone_number, class: "form-control" %>
        </div>
        <div class="form-group col-sm-2">
        <%= phn_form.label "Phone" %>
        <%= phn_form.remove_nested_fields_link "Remove", class: "btn btn-outline-danger btn-md" %> 
        </div>
        <% end %>
        <hr>
      <% end %>
      <%= form.add_nested_fields_link :people, "Add Another Person", class: "btn btn-outline-primary btn-sm mt-2"%> <br>
  </div>

    <%= form.submit class: 'btn btn-primary' %>
</div> 
<% end %>
