<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

<div class="container">
  <div class="form-group">
    <div class="custom-file">
      <%= form.label "upload a logo", class: "custom-file-label" %>
      <%= form.file_field :logo, class: "custom-file-input" %>
    </div>
  </div>    
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <%= form.label "Upload Remote logo http://", class: "input-group-text", id: "basic-addon3" %>
    </div>
      <%= form.text_field :remote_logo_url, class: "form-control",id:"basic-url" %>
  </div>

    <hr>
    
  <div class="form-check-inline">
    <%= image_tag(company.logo_url(:thumb)) if company.logo? %>
    <%= form.label "Remove Logo", class: "form-check-label mx-2", for:"remove_logo" if company.logo? %>
    <%= form.check_box :remove_logo, class: "form-check-input", id:"remove_logo" if company.logo? %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>

    <%= form.label :email %>
    <%= form.text_field :email, :class => "form-control" %>

    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <hr>

  <div class="form-group">
    <%= form.label :person_ids, "Please Select People" %> <br />
    <%= form.collection_select :person_ids, policy_scope(Person.order(:first_name)), :id, :full_name, {},{multiple: true, class: "custom-select"} %>
  </div>

    <div class="form-group">
      <%= form.label "Add new people", class:"form-group" %>
      <%= form.fields_for :people, Person.new do |p_form|  %>
      <div class="form-row">      
        <%= p_form.hidden_field :user_id, value:current_user.id %> 
        <div class="col-sm"><%= p_form.text_field :first_name, placeholder: "first name", class: "form-control" %> </div>
        <div class="col-sm"><%= p_form.text_field :middle_name, placeholder: "middle name", class: "form-control" %> </div>
        <div class="col-sm"><%= p_form.text_field :last_name, placeholder: "last name", class: "form-control" %> </div>
      </div>
  </div>
      <% end %>

    <%= form.submit class: 'btn btn-primary' %>
</div> 
<% end %>
