<h1 class="text-center">Companies <%= @companies_count.presence %> </h1>
  <div class="container-fluid">
    <%= link_to 'New Company', new_company_path, class: 'btn btn-primary mb-2', :method => :get %>
    <%= link_to "Import CSV", import_companies_path,class: "btn btn-primary mb-2", method: :get  %>
    
    <div class="card my-2 p-4">
      <%= search_form_for @search do |f| %>
        <div class="form-row">
          <div class="form-group col-md">
            <%= f.label :name_cont, "Company Name" %>
            <%= f.text_field :name_cont, class: "form-control" %>
          </div>
          <div class="form-group col-md">
            <%= f.label :id_eq, "Id" %>
            <%= f.text_field :id_eq, class: "form-control" %>
          </div>
          <div class="form-group col-md">
            <%= f.label :user_id_eq, "User" %>
            <%= f.collection_select :user_id_eq, User.all, :id, :username, {include_blank: true, prompt: "Choose.."} ,class: "form-control" %>
          </div>
        </div>
      <div class="form-row">
        <div class="form-group col-md">
          <%= f.label :country_id_eq, "Country" %>
          <%= f.select :country_id_eq, options_for_select(countries_for.collect { |obj| [obj[:country_name] ,obj[:country_id]] }),{prompt:"Choose..", include_blank: true},  {class: "form-control" }  %>
        </div>
        <div class="form-group col-md">
          <%= f.label :state_id_eq, "State" %>
          <%= f.select :state_id_eq, options_for_select(states_for.collect { |sta| [sta[:state_name], sta[:state_id]]}),{prompt: "Choose..", include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
      <%= f.submit "Search", class: "btn btn-outline-primary btn-sm"%>
    <% end %>
    </div>
    <nav class="navbar bg-light navbar-dark mb-2">
    <ul class="nav">
      <li class="nav-item mx-2">
      <%= sort_link @search, :name, "Sort by Name", class: "nav-link"%>
      </li>
      <li class="nav-item mx-2">
      <%= sort_link @search, :id, "Sort by id",class: "nav-link" %>
      </li>
    </ul>
    </nav>


    <div class="row">
      <% @companies.each do |company| %>
        <div class="col-sm-6 col-md-4 col-lg-4 mb-2">
          <div class="card h-100">
            <div class="card-header">
              <div class="row">
                <div class="col-9">
                  <%= link_to company.name.capitalize.truncate(20), company, class: "card-title" %>
                </div>
                <div class="col-3">
                  <span class="badge"><%= company.id %></span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="text-center"> <%= image_tag company.logo_url(:logo) if company.logo? %> </p>
              <% company.people.each do |person|  %>
              <h6 class="card-subtitle mb-1"><%= link_to person.full_name.capitalize.truncate(16), person %></h6> 
              <% end %>
              <small class="text-muted"> <%= company.state.name if company.state.present? %> <%= company.country.alpha2 if company.country.present? %> </small>
              <p class="card-text"><small class="text-muted">by <%= company.user.username %> </small></p>
            </div>
            <div class="card-footer">
              <%= link_to fa_icon("edit", type: :regular), edit_company_path(company), class: 'card-link' if policy(company).update? %>
              <%= link_to fa_icon("trash-alt", type: :regular, style: "color:red"), company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link float-right' if policy(company).destroy? %>
            </div>
          </div>
        </div>
          <% end %>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col">
      <div class="row justify-content-center"> <%= pagy_bootstrap_nav(@pagy).html_safe %> </div>
    </div>
  </div>
