<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Logo</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Url</th>
      <th scope="col">People</th>
      <th scope="col">Created by</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>            

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= image_tag company.logo_url(:logo) if company.logo? %></td>
        <td><%= link_to company.name.capitalize, company %></td>
        <td><%= company.email %></td>
        <td><%= company.url %></td>
        <td><% company.people.each do |person|  %>
          <div> <%= link_to person.first_name.capitalize, person %> </div>
            <% end %>
        </td>
         <td><%= company.user.username %></td>
        <% if user_signed_in? %>
          <% if company.user == current_user or current_user.admin %>
            <td><%= link_to 'Edit', edit_company_path(company), class: 'btn btn-outline-primary btn-sm'%></td>
            <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Company', new_company_path, class: 'btn btn-primary' %>
