<div class="container-fluid">
<h1 class="text-center">Companies (<%= @companies_count %>) </h1>
    <%= link_to fa_icon('folder-plus', type: :solid, text: 'New Company'), new_company_path, class: 'btn btn-dark btn-sm mb-2', :method => :get %>
    <%= link_to fa_icon('file-csv', type: :solid, text: "Import"), import_companies_path,class: "mb-2 btn btn-dark btn-sm", method: :get  %>
    <%= link_to fa_icon('file-csv', type: :solid, text: "Export"), companies_path(format: "csv"), class: "btn btn-dark btn-sm mb-2" %>
    <%= render "companies/search_company"  %>   

    <div class="row">
      <% @companies.each do |company| %>
        <div class="col-sm-6 col-md-4 col-lg-4 mb-2">
          <div class="card h-100">
            <div class="card-header">
              <div class="row">
                <div class="col-9">
                  <%= link_to company.name.capitalize.truncate(20), company, class: "card-title" %>
                </div>
                <div class="col-3">
                  <span class="badge"><%= company.id %></span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="text-center"> <%= image_tag company.logo_url(:logo) if company.logo? %> </p>
              <% company.people.each do |person|  %>
              <h6 class="card-subtitle mb-1"><%= link_to fa_icon('id-card', type: :regular, text: person.full_name.capitalize.truncate(16)), person %></h6> 
              <% end %>
              <small class="text-muted"> <%= company.state.name if company.state.present? %> <%= company.country.alpha2 if company.country.present? %> </small>
              <p class="card-text"><small class="text-muted">by <%= company.user.alias %> </small></p>
            </div>
            <div class="card-footer">
              <%= link_to fa_icon("edit", type: :regular), edit_company_path(company), class: 'card-link' if policy(company).update? %>
              <%= link_to fa_icon("trash-alt", type: :regular, style: "color:red"), company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link float-right' if policy(company).destroy? %>
            </div>
          </div>
        </div>
          <% end %>
    </div>
      <div class="d-flex justify-content-center">
  <%= pagy_bootstrap_combo_nav_js(@pagy).html_safe %>
      </div>   
  </div>
  
