<h1 class="text-center">Companies</h1>
  <div class="container-flex">
    <div class="row">
      <% @companies.order(:id).reverse.each do |company| %>
        <div class="card-group m-1">
          <div class="card">
            <div class="card-header">
              <%= link_to company.name.capitalize.truncate(11), company, class: "card-title" %>
              <span class="badge" style="float:right"><%= company.id %></span>
            </div>
            <div class="card-body">
              <p class="text-center"> <%= image_tag company.logo_url(:logo) if company.logo? %> </p>
              <% company.people.each do |person|  %>
              <h6 class="card-subtitle mb-1"><%= link_to person.full_name.capitalize.truncate(13), person %></h6> 
              <% end %>
              <small class="text-muted"> <%= "#{company.state.name}/#{company.country.alpha2}" if company.country.present? %> </small>
            </div>
            <div class="card-footer">
              <%= link_to 'Edit', edit_company_path(company), class: 'card-link' if policy(company).update? %>
              <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' if policy(company).destroy? %>
            </div>
          </div>
        </div>
          <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'New Company', new_company_path, class: 'btn btn-primary mt-2', :method => :get %>
    </div>
  </div>

