<p>
  <strong>Logo:</strong><br>
  <%= image_tag @company.logo_url(:thumb) if @company.logo?  %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>
<p>
  <strong>Note:</strong>
  <%= @company.note %>
</p>
<p>
  <strong>Source:</strong>
  <%= @company.source %>
</p>
<strong>Address:</strong>
<div>
    <ul>
  <%= @company.address_title if @company.address_title.present? %>  
  <%= @company.address_line.capitalize if @company.address_line.present? %>
  <%= @company.zip if @company.zip.present? %>
  <%= @company.town if @company.town.present? %>
  <%= @company.state.name if @company.state.present? %> 
  <%= @company.country.name if @company.country.present? %> 
    </ul>
  </div>


  <% if @company.people.present? %>
    <div class="table-responsive">
      <strong> <%= "Person".pluralize(@company.people.count)%>: </strong>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Position</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
    <% @company.people.each do |person| %>
          <tr>
            <td> <%= link_to person.full_name, person %></td>
            <td>
              <% person.connected.where(company_id: @company.id ).each do |pcp| %> 
                <%= pcp.position %> 
              <% end %>
            </td>
            <td> 
              <% person.phones.each do |phone| %> 
                <p> <%= number_to_phone(phone.phone_number, area_code: true, delimiter: " ") %> </p>
              <% end %>
            </td>
          </tr>
        </tbody>
    <% end %>
      </table>
    </div>
  <% end %>



<p>
  <strong>Created by:</strong>
  <%= @company.user.username %>
</p>

<%= link_to fa_stacked_icon("edit",text: "edit", type: "regular"), edit_company_path(@company), class: "px-2" if policy(@company).update? %> 
<%= link_to fa_stacked_icon('angle-left', text: "back" ), :back  %>
