<p>
  <strong>Logo:</strong><br>
  <%= image_tag @company.logo_url(:thumb) if @company.logo?  %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>
<p>
  <% if @company.people.present? %>
    <strong>
      <%= "Person".pluralize(@company.people.count)%>:
    </strong>
    <% @company.people.each do |person| %>
      <ul class="row">
        <li class='list-inline-item'><%= link_to person.full_name, person %> </li>
      </ul>
    <% end %>
  <% end %>
</p>
<p>
  <strong>Created by:</strong>
  <%= @company.user.username %>
</p>

<%= link_to 'Edit', edit_company_path(@company), class: "btn btn-outline-primary btn-sm" %> 
<%= link_to 'Back', companies_path, class: "btn btn-outline-primary btn-sm" %>
