  <div class="row">
    <div class="form-group col-sm-2">
      <%= e_form.label :email, class: "col-form-label" %>
    </div>

    <div class="form-group col-sm-6">
      <%= e_form.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group col-sm-2">
      <div class="form-check form-check-inline">
      <%= e_form.check_box :unsubscribe, class: "form-check-input" %>
      <%= e_form.label :unsubscribe, class: "form-check-label" %>
      </div>
    </div>
        
    <div class="form-group col-sm-2">
      <%= e_form.remove_nested_fields_link "Remove", class: "btn btn-outline-danger btn-md" %>
    </div>
    <%= e_form.hidden_field :user_id, value:current_user.id %>
