<div class="container-fluid">
  <h1>Machines</h1>
<%= link_to 'New Machine', new_machine_path %>
  <div class="row">
    <% @machines.each do |machine| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100 text-white bg-dark">
          <%= link_to(image_tag(machine.pictures[0].image_url(:medium), class: "card-img-top" ), machine ) if machine.pictures[0].present? %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to machine.title.titleize, machine, class: "text-white text-nowrap" %></h5>
              <p class="card-text">
                <% if machine.price.present? %>
                <%= number_to_currency(machine.price, delimiter: "." , unit: "€", precision: 0 ) %>
              <% else %>
                <%= link_to "Ask Price", new_user_session_path, class: "text-danger" %>
              <% end %>
              </p>
              <p class="card-text">
              condition : <%= machine.condition %>
              </p>
                
                
                
              
            
        <%= link_to 'Edit', edit_machine_path(machine), class: "text-white btn btn-sm btn-danger" %>
        <%= link_to fa_icon("trash-alt", type: :regular, style: "color:red"), machine, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link float-right' %>
            
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
