<p id="notice"><%= notice %></p>

<h1>Machines</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Model type</th>
      <th>Model year</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Published</th>
      <th>User</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.title %></td>
        <td><%= machine.brand.name %></td>
        <td><%= machine.category.name %></td>
        <td><%= machine.model_type %></td>
        <td><%= machine.model_year %></td>
        <td><%= machine.condition %></td>
        <td><%= machine.price %></td>
        <td><%= machine.published %></td>
        <td><%= machine.user.alias %></td>
        <td>
          <% machine.images.each do |image| %>
            <%= image_tag image.url(:thumb) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
