<!-- Footer -->
<hr>
<footer class="page-footer font-small bg-dark text-white">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row" >

      <!-- Grid column -->
      <div class="col-xs-12 col-sm-12 col-md-12" >
        <div class="social text-center">
          <!-- Facebook -->
            <%= fa_icon "facebook",size: "2x", class: "p-2", type: :brand %>
          <!-- Whats App -->
            <%= fa_icon "whatsapp",size: "2x", class: "p-2", type: :brand %>
          <!-- Google +-->
            <%= fa_icon "google-plus-g",size: "2x", class: "p-2", type: :brand %>
          <!--Linkedin -->
            <%= fa_icon "linkedin",size: "2x", class: "p-2", type: :brand %>
          <!--Instagram-->
            <%= fa_icon "instagram",size: "2x", class: "p-2", type: :brand %>
          <!--Youtube-->
            <%= fa_icon "youtube",size: "2x", class: "p-2", type: :brand %>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><small>
  All Rights Reserved by 314machine SPA © 2019 - <%= Time.now.year %>
    </small>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
